.sidebar {
  width: 200px;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  overflow: auto;
}

.toggleButton {
  background-color: #fff;
  position: absolute;
  top: calc(45vh);
  z-index: 1000;
  transition: left 0.5s;
  width: 20px;
  height: 36px;
  border-radius: 0 4px 4px 0;
}

.toggleButton:hover {
  background-color: #f5f5f5;
}

/* Slider */
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.thumb {
  /* top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  outline: 2px solid transparent;
  outline-offset: 2px;
  z-index: 1;
  border-radius: var(--chakra-radii-full);
  background: var(--chakra-colors-white);
  box-shadow: var(--chakra-shadows-base);
  border: 1px solid;
  border-color: var(--chakra-colors-transparent);
  transition-property: transform;
  transition-duration: var(--chakra-transition-duration-normal);
  top: 42%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.track {
  top: 20px;
  height: 4px;
  background: var(--chakra-colors-gray-200);
  border-radius: var(--chakra-radii-sm);
}

.track-1 {
  top: 20px;
  height: 4px;
  background-color: var(--chakra-colors-blue-500);
  border-radius: var(--chakra-radii-sm);
}

.track-2 {
  top: 20px;
  height: 4px;
  background: var(--chakra-colors-gray-200);
  border-radius: var(--chakra-radii-sm);
}
